@font-face {
    font-family: 'MusicFont';
    src:  url('fonts/MusicFont.eot?wqyh9h');
    src:  url('fonts/MusicFont.eot?wqyh9h#iefix') format('embedded-opentype'),
      url('fonts/MusicFont.ttf?wqyh9h') format('truetype'),
      url('fonts/MusicFont.woff?wqyh9h') format('woff'),
      url('fonts/MusicFont.svg?wqyh9h#MusicFont') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  .music-icons {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'MusicFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .ukelele:before {
    content: "\e900";
  }
  .trumpet:before {
    content: "\e901";
  }
  .piano:before {
    content: "\e902";
  }
  .drums:before {
    content: "\e903";
  }