body {
    margin: 0;
    font-family: sans-serif;
    background-color: #222222;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

li {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    background-color: darkslategrey;
    color: white;

}

i {
    display: inline-block;
}

li > a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    padding: 20px 0;
    position: relative;
    border: 10px solid transparent;
}

li:hover > a {
    color: darkorange;
    transition: all .15s;
    border-bottom: 10px solid darkorange;
    border-bottom-left-radius: 0px;
}

main {
    display: block;
    color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 60vh;
    text-align: center;
}

footer {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #cccccc;
    background-color: darkslategray;

    position: fixed;
    height: 100px;
    bottom: 0;
}